header {
    background-color:black;
    height: 50px;
}

#section0 {
	background-image: url(/images/landing-bg1.jpg);
}

#section1 {
	background-image: url(/images/landing-bg2.jpg);
}

#section2 {
	background-image: url(/images/landing-bg3.jpg);
}

#section3 {
	background-image: url(/images/landing-bg4.jpg);
}
